body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
}

/* CONTAINER */
.container {
  text-align: center;
  padding: 30px;
}

/* HEADER */
.header-card {
  background: rgba(255,255,255,0.08);
  padding: 25px;
  border-radius: 15px;
  width: 85%;
  margin: auto;
  margin-bottom: 30px;
  backdrop-filter: blur(10px);
}

/* MAIN BUTTON */
button {
  padding: 12px 25px;
  margin: 15px;
  cursor: pointer;
  background: #ff4c4c;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  transition: 0.3s;
}

button:hover {
  background: #ff1a1a;
  box-shadow: 0 0 10px #ff4c4c;
}

/* DROPDOWN */
.dropdown {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LINKS */
.dropdown a {
  display: block;
  padding: 10px;
  width: 260px;
  margin: 6px;
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.dropdown a:hover {
  background: #ff4c4c;
}

/* SUB BUTTON */
.sub-btn {
  padding: 10px;
  margin: 6px;
  width: 260px;
  background: rgba(255,255,255,0.1);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

.sub-btn:hover {
  background: #ff4c4c;
}

/* SUB DROPDOWN */
.sub-dropdown {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FOOTER */
footer {
  margin-top: 30px;
  font-size: 14px;
  opacity: 0.7;
}
a {
  color: white;
  text-decoration: none;
}
